---
layout: default
---
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
 <div id="item1"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://example.com/items/1" data-text="Text to share 1">Tweet</a></div>
<div id="item2"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://example.com/items/2" data-text="Text to share 2">Tweet</a></div>
<div id="item3"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://example.com/items/3" data-text="Text to share 3">Tweet</a></div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<body>
{% for post in site.posts reversed | sort_by: "post.date" %}
{% if post.category contains 'grafika' %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <section id="{{ post.sectionId }}" height="100%">
    <div class="content-section-a">
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6" >
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead"><p class="justify">{{ post.description }} </p></div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                   {{ post.img }}
                   {{ post.sharefb }} </br>
                   {{ post.sharetw }}
                </div>
                 
            </div>
        </div>
    </section>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    {% else %}
    <section id="{{ post.sectionId }}">
    <div class="content-section-b">
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead"><p class="justify">{{ post.description }}</p></div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                   {{ post.img }}
                   {{ post.sharefb }} <br/>
                   {{ post.sharetw }}
                </div>
            </div>

        </div>
        <!-- /.container -->
    </section>
    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endif %}
{% endfor %}
</section>

